#div1{
    text-align: center;
    color: blue;
}
#p{ 
    line-height: 1.6;
    text-align:right;
    text-align: justify;
}

#h2{
text-decoration: underline;
}

#img1{ 
    width: 420px; 
    height: 220px;
}

#img2{
    width: 420px; 
    height: 220px;
}

#img3{
    width: 420px; 
    height: 220px;
}

#img4{
    width: 420px; 
    height: 220px;
}

#img5{
    width: 420px; 
    height: 220px;
}

#img6{
    width: 420px; 
    height: 220px;
}

#img7{
    width: 420px; 
    height: 220px;
}

#img8{
    width: 420px; 
    height: 220px;
}

#img9{
    width: 420px; 
    height: 220px;
}

#img10{
    width: 420px; 
    height: 220px;
}